<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765547701889-64eqmb94fum8atshc5u25pkg69d2536s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765547701889-64eqmb94fum8atshc5u25pkg69d2536s</string>
	<key>API_KEY</key>
	<string>AIzaSyAxBhmdaxaMb0SIjJ7CrPyBX1eDKKTjXcM</string>
	<key>GCM_SENDER_ID</key>
	<string>765547701889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrCode.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-21fda</string>
	<key>STORAGE_BUCKET</key>
	<string>test-21fda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765547701889:ios:429f47479ad9e42fbbcf80</string>
</dict>
</plist>